%stretch-width {
  left: 0;
  right: 0;
}

%btn {
  cursor: pointer;
  transition: 0.3s background-color;
  border-radius: 3px;
  border: 0;
  padding: 0 15px 0 15px;
  background-color: #08b3f2;
  background-repeat: no-repeat;
  background-position: left 15px center;
  color: #fff;
  line-height: 36px;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    background-color: #20bdf7;
  }
}

%item {
  margin-bottom: 30px;
  border-radius: 8px;
  border: 1px solid #eee;
  background-color: #fff;
  color: #333;
}
