.footer {
  @extend %stretch-width;
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding: 15px 10px;
  color: #fff;
  line-height: 30px;
  font-size: 12px;
  background-image: url(../images/bg_footer.png);
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    position: relative;
    overflow: hidden;
  }
}
